<!DOCTYPE html>
<html>
<head>
    <title>Smart Medicine Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
<h1>💊 Smart Medicine Box</h1>
<nav>
<a href="/">Dashboard</a>
<a href="/add_compartment">Add Medicine</a>
<a href="/view_compartment">View Medicines</a>
<a href="/add_schedule">Add Schedule</a>
<a href="/view_schedule">View Schedule</a>
<a href="/water_profile">💧 Water Profile</a>
</nav>
</header>

<div class="content">
{% block content %}
{% endblock %}
</div>

<footer>
<p>Smart Medicine Box System</p>
</footer>

</body>
</html>